<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="description" content="Numbers of India | Data Driven India">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Numbers of India</title>
	<link rel="icon" href="static/images/logo.png">

	<!-- Royal Preloader CSS -->
	<link href="static/css/royal_preloader.css" rel="stylesheet">

	<!-- jQuery Files -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<!-- Royal Preloader -->
	<script type="text/javascript" src="static/js/royal_preloader.min.js"></script>
	<script type="text/javascript">
		Royal_Preloader.config({
			mode: 'number',
			showProgress: false,
			background: '#fff'
		});
	</script>

	<!-- Stylesheets -->
	<link href="static/css/bootstrap.min.css" rel="stylesheet">
	<link href="static/css/ionicons.min.css" rel="stylesheet">
	<link href="static/css/pe-icon-7-stroke.css" rel="stylesheet">
	<link href="static/css/magnific-popup.css" rel="stylesheet">
	<link href="static/css/style.css" rel="stylesheet" title="main-css">
</head>

<body class="royal_preloader">

	<!-- Preloader -->
	<div id="royal_preloader"></div>

	<!-- Begin Header -->
	<header>

		<!-- Begin Navigation -->
		<nav class="navbar navbar-default navbar-fixed-top navbar-spacing-top-fixed">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					    aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand scroll-top" href="#">Numbers</a><span class="navbar-tagline hidden-sm">of India</span>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#" class="scroll-top">Search Bar</a></li>
						<li class="btn-navbar"><a href="#"><span class="btn btn-primary btn-lg">Search</span></a></li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container -->
		</nav>
		<!-- /.nav -->
		<!-- End Navigation -->

	</header>
	<!-- End Header -->

	<!-- Begin Work -->
	<section id="work" class="section-padding-work section-border-bottom">
		<div class="container">
			<!-- Title -->
			<div class="row mb50">
				<div class="col-sm-12 col-md-6 col-md-offset-3 text-center filter-button-group">
					<!--
					<h2>Work</h2>
					<span class="divider divider-center divider-dark mb30"></span>
					-->
					<span>Topics:</span>
					<ul class="list-work-filter list-unstyled list-inline">
						<li class="active" data-filter="*">All</li>
						<li data-filter=".web">Web</li>
						<li data-filter=".print">Print</li>
						<li data-filter=".product">Product</li>
					</ul>
				</div>
				<!-- /.column -->
			</div>
			<!-- /.row -->

			<!-- Masonry Portfolio -->
			<div id="portfolio" class="row grid">
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container -->
	</section>
	<!-- End Work -->


	<!-- Start Footer -->
	<footer class="page-footer">
		<div class="container">
			<!-- Contact Information -->
			<div class="row">
				<div class="col-md-12 text-center">
					&copy; 2017 <a href="#">Numbers of India</a>. All Rights Reserved.
				</div>
				<!-- /.column -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container -->
	</footer>
	<!-- End Footer -->

	<!-- Javascript Files -->
	<script type="text/javascript" src="static/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="static/js/isotope.pkgd.min.js"></script>
	<script type="text/javascript" src="static/js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="static/js/form-validator.min.js"></script>
	<script type="text/javascript" src="static/js/scrollreveal.min.js"></script>
	<script type="text/javascript" src="static/js/main.js"></script>
	<script type="text/javascript" src="static/js/onpageload.js"></script>
</body>

</html>