<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="description" content="Numbers of India | Data Driven India">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Numbers of India</title>
    <link rel="icon" href="static/images/logo.png">

    <!-- Royal Preloader CSS -->
    <link href="static/css/royal_preloader.css" rel="stylesheet">

    <!-- jQuery Files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <!-- Royal Preloader -->
    <script type="text/javascript" src="static/js/royal_preloader.min.js"></script>
    <script type="text/javascript">
        Royal_Preloader.config({
            mode: 'number',
            showProgress: false,
            background: '#fff'
        });
    </script>

    <!-- Stylesheets -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/ionicons.min.css" rel="stylesheet">
    <link href="static/css/pe-icon-7-stroke.css" rel="stylesheet">
    <link href="static/css/magnific-popup.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet" title="main-css">
</head>

<body class="royal_preloader">

    <!-- Preloader -->
    <div id="royal_preloader"></div>

    <!-- Begin Header -->
    <header>

        <!-- Begin Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top navbar-spacing-top-fixed">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
                    <a class="navbar-brand scroll-top" href="#">Numbers</a><span class="navbar-tagline hidden-sm">of India</span>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" class="scroll-top">Search Bar</a></li>
                        <li class="btn-navbar"><a href="#"><span class="btn btn-primary btn-lg">Search</span></a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        <!-- /.nav -->
        <!-- End Navigation -->

    </header>
    <!-- End Header -->

    <!-- Begin ItemView -->
    <section id="itemview" class="section-padding section-border-bottom">
        <div class="container">
            <!-- Title -->
            <div class="row mb60">
                <div class="col-xs-12 text-center">
                    <h2>Population Density</h2>
                    <span class="divider divider-center divider-dark no-margin-bottom"></span>
                </div>
                <!-- /.column -->
            </div>
            <!-- /.row -->

            <!-- Row 1 - Information / Carousel / Main Services -->
            <div class="row mb40">
                <!-- Graphic Story -->

                <div class="col-sm-12 col-md-6 col-lg-6 leftReveal">
                    <div class="carousel slide" data-ride="carousel" id="carousel-about">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li class="active" data-slide-to="0" data-target="#carousel-about"></li>
                            <li data-slide-to="1" data-target="#carousel-about"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img alt="..." src="static/images/viz/4.png">
                            </div>
                            <div class="item">
                                <img alt="..." src="static/images/viz/4.png">
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-about" role="button" data-slide="prev">
							<span class="ion-ios-arrow-left carousel-arrow" aria-hidden="true"></span>
						</a>
                        <a class="right carousel-control" href="#carousel-about" role="button" data-slide="next">
							<span class="ion-ios-arrow-right carousel-arrow" aria-hidden="true"></span>
						</a>
                    </div>
                    <!-- /.carousel -->


                </div>
                <!-- /.column -->
                <!-- Text Story -->
                <div class="col-sm-12 col-md-6 col-lg-6 mt40-xs mt40-sm rightReveal">
                    <h3 class="mb20">
                        <img alt="..." src="static/images/logo.png" style="width: 50px; height: auto; margin-right: 20px;">                        Story
                    </h3>

                    <p class="mb20">In the year 2015, 400 people died every day in road accidents. 77.1% of the road accidents occurred because
                        of driver's fault. In this visualization we will probe about the number of fatalities (injuries and
                        deaths) caused due to various improper driving activities and will also explore type of vehicles
                        involved in road fatalities.</p>
                </div>
                <!-- /.column -->

            </div>
            <!-- /.row -->



        </div>
        <!-- /.container -->
    </section>
    <!-- End ItemView -->



    <!-- Start Contact Information -->
    <section id="contact-information">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-center leftReveal">
                    <span class="dark-icon mb5 pe-7s-home"></span>
                    <h5 class="no-margin-bottom spaced">facebook.com/numbersofindia</h5>
                </div>
                <!-- /.column -->

                <div class="col-sm-6 mt30-xs text-center bottomReveal">
                    <span class="dark-icon mb5 pe-7s-phone"></span>
                    <h5 class="no-margin-bottom spaced">twitter.com/numbersofindia</h5>
                </div>
                <!-- /.column -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- End Contact Information -->

    <!-- Start Footer -->
    <footer class="page-footer">
        <div class="container">
            <!-- Contact Information -->
            <div class="row">
                <div class="col-md-12 text-center">
                    &copy; 2017 <a href="#">Numbers of India</a>. All Rights Reserved.
                </div>
                <!-- /.column -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </footer>
    <!-- End Footer -->

    <!-- Javascript Files -->
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="static/js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="static/js/form-validator.min.js"></script>
    <script type="text/javascript" src="static/js/scrollreveal.min.js"></script>
    <script type="text/javascript">
        /* ---- Portfolio Isotope ---- */
        $(document).ready(function () {
            var $grid = $('.grid').isotope({
                layoutMode: 'masonry'
            });
            $('.filter-button-group').on('click', 'li', function () {
                var filterValue = $(this).attr('data-filter');
                $grid.isotope({
                    filter: filterValue
                });
            });
            $(".filter-button-group").each(function (t, e) {
                var i = $(e);
                i.on("click", "li", function () {
                    i.find(".active").removeClass("active"), $(this).addClass("active")
                })
            });
        });
    </script>
    <script type="text/javascript" src="static/js/main.js"></script>
</body>

</html>